/* mặc định */
.btn-wrapper {
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  padding: 9px 16px;

  background-color: var(--body-bg-color);
  border: 2px solid var(--body-text-color);
  color: var(--body-text-color);

  display: flex;
  justify-content: center;

  cursor: pointer;
  transform: color 0.5s ease;
}

/* khi hover chữ đổi sang trắng */
.btn-wrapper:hover {
  background-color: var(--body-text-color);
  border: 2px solid var(--body-text-color);
  color: var(--body-bg-color);
}

/* btn forecast , temp,rain,wind ===============  */
.activeBtn {
}

.btn-cycle {
  /* border-radius: 999%; */
  padding: 10px;
  border-radius: 50%;
  min-width: 10px;
  /* min-width: 30px;
  height: 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid var(--body-text-color);
}

.btn-transparent {
}
.btn-transparent:hover {
}

.btn-square {
}

/* size của btn: small medium large  */
.btn-medium {
}

/* icon lech thi flex align center  */
.button-icon {
  display: flex;
  align-items: center;
}
