.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid white;

  background: var(--body-bg-color);
  z-index: 999;
  padding: 5px 50px;
}

.header-inner {
  width: 100%;
  height: var(--height-header);
  display: flex;
  align-items: center; /* chcao */
  justify-content: space-between;
}

.logo {
  font-family: "Pacifico", cursive;
  font-size: 40px;
}

.header-social-icon a {
  transition: color 0.3s ease;
  transition: none !important;
  background-color: transparent;
}
.header-social-icon a::before {
  background-color: transparent;
}
.header-social-icon a:hover,
.header-social-icon a:hover::before {
  /* svg co current color => doi mau bang the cha la a  */
  color: black;
  background-color: white;
}

/* CSS chỉ áp dụng cho màn hình có chiều rộng tối đa 768px (mobile và tablet) */
@media (max-width: 768px) {
  .header-wrapper {
    padding: 5px 10px;
  }
  .logo {
    font-family: "Pacifico", cursive;
    font-size: 18px;
  }
}
