@font-face {
  font-family: "Pacifico";
  /* toi uu tren nhieu trinh duyet */
  src: url("../../../assets/fonts/Pacifico-Regular.woff2") format("woff2"),
    url("../../../assets/fonts/Pacifico-Regular.woff") format("woff"),
    url("../../../assets/fonts/Pacifico-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}

/* cho tất cả các phần tử trên trang. */
/* reset css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* tính luôn cả nội dung + padding + border. */
}

:root {
  --gradient-tim-den: linear-gradient(
    270deg,
    rgba(181, 98, 180, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );

  --body-bg-color: var(--gradient-tim-den);
  --body-text-color: white;

  --height-header: 60px;
  --fl-speed: 0.8s;

  /* hoa  */
  --speed-leaf: 2s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  /* font-family: "Calibri", sans-serif; */
  height: 100vh;
  background: var(--body-bg-color);
  color: var(--body-text-color);

  overflow-x: hidden; /* chặn tràn ngang*/
  position: relative;
}

a {
  text-decoration: none;
  color: var(--body-text-color);
}

a:visited {
  color: var(--body-text-color);
}
a:active {
  color: var(--body-text-color);
}

.general-title {
  display: flex;

  font-family: "Pacifico", cursive;
  font-size: 40px;
  border-bottom: 2px solid white;
}
.general-h2 {
  display: flex;
  font-family: "Pacifico", cursive;
  font-size: 30px;
  margin-top: 20px;
}

.section {
  margin-top: 50px;
}

.marginTop130px {
  margin-top: 130px;
}
/* CSS chỉ áp dụng cho màn hình có chiều rộng tối đa 768px (mobile và tablet) */
@media (max-width: 768px) {
  .App {
    display: flex;
    justify-content: center;
  }
  .container,
  .content {
    width: 100vh;
  }
  html,
  body {
    min-width: 768px; /* đảm bảo luôn >= chiều width màn hình */
  }
}
